<mat-card>
  <app-user-info
    [form]="this.form" 
    [initData]="initData"
    [view]="this.view"
    [disabledUsername]="this.disabledUsername"
  ></app-user-info>
  <div class="row mt-3">
    <mat-tab-group [selectedIndex]="isActiveTab" (selectedIndexChange)="changeTab($event)">
      <mat-tab [label]="'sec.tab_permission_information' | translate">
        <mat-card class="mt-3">
          <app-permission-info-table
            [permission]="this.initData.permission" 
            [dataSource]="this.dataSourceProgram"
            [permissionType]="'P'"
            [systemType]="'user'"
            [view]="this.view"
            [selection]="this.selectionProgram"
          ></app-permission-info-table>
        </mat-card>
        <mat-card class="mt-3">
          <app-permission-info-table
            [permission]="this.initData.permission" 
            [dataSource]="this.dataSourceReport"
            [permissionType]="'R'"
            [systemType]="'user'"
            [view]="this.view"
            [selection]="this.selectionReport"
          ></app-permission-info-table>
        </mat-card>
      </mat-tab>
      <mat-tab [label]="'sec.tab_user_group' | translate">
        <mat-card class="mt-3">
          <app-permission-group-table
            [permission]="this.initData.permission" 
            [dataSource]="this.dataSourceGroupuser"
            [view]="this.view"
            [selection]="this.selectionGroupuser"
          ></app-permission-group-table>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="row">
    <div class="col">
        <app-sit-button *ngIf="this.pageType === 'A'"
            [permission]="this.initData.permission"
            [page]="this.pageType"
            (btnSave)="add()"
            (btnCancel)="cancelAdd()"
        ></app-sit-button>
        <app-sit-button *ngIf="this.pageType === 'E'"
            [permission]="this.initData.permission"
            [page]="this.pageType"
            (btnEdit)="edit()"
            (btnCancel)="cancelEdit()"
        ></app-sit-button>
        <app-sit-button *ngIf="this.pageType === 'V'"
            [permission]="this.initData.permission"
            [page]="this.pageType"
            (btnClose)="gotoSearchPage()"
        ></app-sit-button>
    </div>
  </div>
  <div class="row mt-3" *ngIf="this.pageType !== 'A'">
    <app-sit-transaction [transaction]="this.initData?.user?.transaction">
    </app-sit-transaction>
  </div>
</mat-card>