<mat-card class="mt-3" [ngClass]="{'d-none': !dataSource?.totalResult }">
  <!-- ################# Panel top table ################# -->
  <div class="row">
    <div class="d-flex justify-content-between flex-column flex-lg-row">
      <!-- ------------------ Left ------------------ -->
      <div class="d-flex align-items-center">
        <!-- Total results -->
        <span class="table_title_search">{{ "table_title_search" | translate: { value: dataSource?.totalResult | number } }}</span>

        <!-- Button export -->
        <button mat-button class="button-icon-action" (click)="btnExport()" [disabled]="!permission.export">
          <mat-icon color="primary">output</mat-icon>
          <span>{{ 'export' | translate }}</span>
        </button>
      </div>

      <!-- ------------------ Right ------------------ -->
      <div class="d-flex align-items-center">
        <span class="me-3">{{ "gotoPage" | translate}}</span>

        <mat-form-field [appearance]="'outline'">
          <input
            matInput
            [value]="displayPageIndex"
            inputPaginator
            (valueChange)="pageChange($event)" />
        </mat-form-field>

        <mat-paginator #paginatorHearder
          (page)="pageChange($event)"
          [pageSize]="pageSize"
          [length]="dataLength"
          [pageIndex]="pageIndex">
        </mat-paginator>
      </div>

    </div>
  </div>

  <!-- ################# Table result ################# -->
  <div class="overflow-auto">
    <table mat-table [dataSource]="dataSource?.listResult" class="mat-elevation-z sit-table w-100" style="min-width: 1000px;"
      matSort
      (matSortChange)="sortChange.emit($event)"
      [sitSortActive]="headerSorts"
    >

      <!-- No. -->
      <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef class="col-no text-center">{{ 'order_no' | translate }}</th>
        <td mat-cell *matCellDef="let element;let index = index" class="col-no text-center">
          {{ index | generateRowNo : pageSize : pageIndex }}
        </td>
      </ng-container>

      <!-- checkbox Column -->
      <ng-container matColumnDef="checkbox">
        <th mat-header-cell *matHeaderCellDef class="col-checkbox text-center">
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let element" class="col-checkbox text-center">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? childToggle(element) : null"
            [checked]="selection.isSelected(element)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Edit -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef class="col-icon text-center"> {{ 'edit' | translate }} </th>
        <td mat-cell *matCellDef="let element" class="col-icon text-center">
          <app-sit-button-icon
            [type]="'EDIT'"
            [tooltip]="'edit' | translate"
            [permission]="this.permission.edit"
            (btnClick)="btnGotoEdit(element)"
          ></app-sit-button-icon>
        </td>
      </ng-container>

      <!-- Active status -->
      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef class="col-active-status text-center"> {{ 'status' | translate }} </th>
        <td mat-cell *matCellDef="let element" class="col-active-status text-center">
          <div [class]="element.activeStatus | activeStatusPipe">{{element.activeStatus}}</div>
        </td>
      </ng-container>

      <!-- Country code (alpha-2) -->
      <ng-container matColumnDef="countryCodeAlpha2">
        <th mat-header-cell *matHeaderCellDef class="col-code text-left" mat-sort-header="0" disableClear="true">{{ 'std.c_country_code_alpha_2' | translate }}</th>
        <td mat-cell *matCellDef="let element" class="col-code text-left"> {{element.countryCodeAlp2}} </td>
      </ng-container>

      <!-- Country code (alpha-3) -->
      <ng-container matColumnDef="countryCodeAlpha3">
        <th mat-header-cell *matHeaderCellDef class="col-code text-left" mat-sort-header="1" disableClear="true">{{ 'std.c_country_code_alpha_3' | translate }}</th>
        <td mat-cell *matCellDef="let element" class="col-code text-left"> {{element.countryCodeAlp3}} </td>
      </ng-container>

      <!-- Country name -->
      <ng-container matColumnDef="countryName">
        <th mat-header-cell *matHeaderCellDef class="col-country-name text-left" mat-sort-header="2" disableClear="true">{{ 'std.c_country_name' | translate }}</th>
        <td mat-cell *matCellDef="let element" class="col-country-name text-left"> {{element.countryName}} </td>
      </ng-container>

      <!-- Nationality code -->
      <ng-container matColumnDef="nationalityCode">
        <th mat-header-cell *matHeaderCellDef class="col-code text-left" mat-sort-header="3" disableClear="true">{{ 'std.c_nationality_code' | translate }}</th>
        <td mat-cell *matCellDef="let element" class="col-code text-left"> {{element.nationalityCode}} </td>
      </ng-container>

      <!-- Nationality name -->
      <ng-container matColumnDef="nationalityName">
        <th mat-header-cell *matHeaderCellDef class="col-nationality text-left" mat-sort-header="4" disableClear="true">{{ 'std.c_nationality_name' | translate }}</th>
        <td mat-cell *matCellDef="let element" class="col-nationality text-left"> {{element.nationalityName}} </td>
      </ng-container>

      <!-- Continent name -->
      <ng-container matColumnDef="continentName">
        <th mat-header-cell *matHeaderCellDef class="col-continent-name text-left" mat-sort-header="5" disableClear="true">{{ 'std.c_continent_name' | translate }}</th>
        <td mat-cell *matCellDef="let element" class="col-continent-name text-left"> {{element.continentName}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>

  <!-- ################# Footer ################# -->
  <div class="row">
    <div class="d-flex align-items-center">

      <!-- ------------------ Left ------------------ -->
      <div class="d-flex align-items-center">
        <!-- Button active -->
        <button mat-stroked-button class="button-active" (click)="btnActive()" [disabled]="!permission.editActiveStatus">
          <span>{{ 'active' | translate }}</span>
        </button>

        <!-- Button inactive -->
        <button mat-stroked-button class="ms-3 button-inactive" (click)="btnInactive()" [disabled]="!permission.editActiveStatus">
          <span>{{ 'inactive' | translate }}</span>
        </button>
      </div>

      <span style="flex: 1 1 auto;"></span>
      <!-- ------------------ Right ------------------ -->
      <div class="d-flex align-items-center">
        <span class="me-3">{{ "gotoPage" | translate}}</span>

        <mat-form-field [appearance]="'outline'">
          <input
            matInput
            [value]="displayPageIndex"
            inputPaginator
            (valueChange)="pageChange($event)" />
        </mat-form-field>

        <mat-paginator #paginatorHearder
          (page)="pageChange($event)"
          [pageSize]="pageSize"
          [length]="dataLength"
          [pageIndex]="pageIndex">
        </mat-paginator>
      </div>

    </div>
  </div>
</mat-card>
