.col-code {
  min-width: 60px;
  max-width: 60px;
}

.col-country-name {
  min-width: 150px;
  max-width: 150px;
}

.col-nationality {
  min-width: 70px;
  max-width: 70px;
}

.col-continent-name {
  min-width: 60px;
  max-width: 60px;
}
