<mat-card style="height: 100%;align-items:center;justify-content: center;border: none;background-color: transparent;box-shadow: none;">
    <mat-card class="input-card row col-md-4">
        <div class="w-100 row mb-3">
            <div class="col-0 col-xl-3"></div>
            <div class="col-12 col-xl-6" style="text-align: center">
                <div class="col-12">
                    <mat-icon>check_circle</mat-icon>
                </div>
                <div class="col-12 mb-3" style="font-size: 50px;color: skyblue;">
                    <span>Success</span>
                </div>
                <button
                    color="primary"
                    type="button"
                    mat-raised-button
                    class="col-12 mb-3"
                    (click)="gotoLogin()"
                >
                    Go back to login
                </button>
            </div>
        </div>
    </mat-card>
</mat-card>