th.employee-code, 
    td.employee-code {
        min-width: 175px;
}

th.username,
    td.username {
        min-width: 150px;
}

th.fullname,
    td.fullname { 
        min-width: 360px;
}

th.organization-name,
    td.organization-name {
        min-width: 250px;
}

th.doctype-ref-user-no,
    td.doctype-ref-user-no {
        min-width: 150px;
}

th.phone-no,
    td.phone-no {
        min-width: 150px;
}

th.group-name-user,
    td.group-name-user {
        min-width: 150px;
}