th.employee-code,
    td.employee-code {
        min-width: 200px;
}

th.username,
    td.username {
        min-width: 200px;
}

th.fullname,
    td.fullname {
        min-width: 400px;
}

th.organization,
    td.organization {
        min-width: 300px;
}

th.position-name,
    td.position-name {
        min-width: 300px;
}