<mat-card [formGroup]="this.form" style="align-items:center;justify-content: center;overflow: auto;">
    <mat-card class="input-card row col-xl-6">
        <mat-card-header class="mb-3">
            <mat-card-title class="mb-3">{{ "rst.change_password" | translate }}</mat-card-title>
        </mat-card-header>
        <div class="column">
            <div class="w-100 row mb-3">
                <div class="col"></div>
                <div class="col-12 col-xl-6" sit-validate-input="username">
                    <sit-label require="true">
                        <span> {{ "rst.username" | translate }}</span>
                    </sit-label>
                    <mat-form-field class="w-100 readonly-con" appearance="outline">
                        <input type="text" matInput formControlName="username" [readonly]='true'/>
                    </mat-form-field>
                    <sit-helper
                        [control]="this.form.get('username')"
                    ></sit-helper>
                </div>
                <div class="col"></div>
            </div>
            <div class="w-100 row mb-3">
                <div class="col"></div>
                <div class="col-12 col-xl-6" sit-validate-input="password">
                    <sit-label require="true">
                        <span> {{ "rst.new_password" | translate }}</span>
                    </sit-label>
                    <mat-form-field class="w-100" appearance="outline">
                        <input type="text" matInput formControlName="password" matInput [type]="hide ? 'password' : 'text'" maxlength="50"/>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <sit-helper
                        [control]="this.form.get('password')"
                    ></sit-helper>
                    <sit-password-validation [control]="this.form.get('password')" [list]="passwordValidation">
                    </sit-password-validation>
                </div>
                <div class="col"></div>
            </div>
            <div class="w-100 row mb-2">
                <div class="col-0 col-xl-3"></div>
                <div class="col-12 col-xl-6">
                    <button
                        color="primary"
                        type="button"
                        mat-raised-button
                        class="col-12"
                        (click)="changePassword()"
                    >
                        {{ "rst.change_password" | translate }}
                    </button>
                </div>
                <div class="col-0 col-xl-3"></div>
            </div>
        </div>
    </mat-card>

    <mat-card class="input-card row col-xl-6 mt-3">
        <mat-card-header class="mb-3">
            <mat-card-title class="mb-3">{{ "rst.time_zone_sitting" | translate }}</mat-card-title>
        </mat-card-header>
        <div class="w-100 row mb-3" sit-validate-input="password">
            <div class="col"></div>
            <div class="col-12 col-xl-6">
                <sit-label require="true">
                    <span> {{ "rst.time_zone" | translate }}</span>
                </sit-label>
                <mat-form-field class="w-100" appearance="outline">
                    <mat-select formControlName="timeZoneKey">
                        <mat-option value=""></mat-option>
                        <mat-option *ngFor="let item of this.payload.timezoneList" (onSelectionChange)="selectTimeZone($event);" [value]="item.key">{{ item.value }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <sit-helper
                    [control]="this.form.get('timeZoneKey')"
                ></sit-helper>
            </div>
            <div class="col"></div>
        </div>
        <div class="mb-3 row" id="app-sit-button">
            <div class="col-0 col-xl-4"></div>
            <div class="col-12 col-xl-2 mb-3">
                <button color="primary" type="button" mat-raised-button class="col-12" (click)="changeTimezone()">{{ "ok" | translate }}</button>
            </div>
            <div class="col-12 col-xl-2">
                <button type="button" mat-raised-button class="col-12" (click)="cancel()">{{ "cancel" | translate }}</button>
            </div>
            <div class="col-0 col-xl-4"></div>
        </div>
    </mat-card>
</mat-card>
