<mat-card>
  <div [formGroup]="this.form">
    <!-- ############################### Row 1 ############################### -->
    <div class="row">
      <div class="col-md-0 col-lg-2"></div>
      <!-- ------------------- Country code (alpha-2) ------------------- -->
      <div class="col-md-12 col-lg-4" sit-validate-input="countryCodeAlp2">
          <sit-label>
            <span>{{ "std.c_country_code_alpha_2" | translate }}</span>
          </sit-label>

          <mat-form-field class="w-100" [appearance]="'outline'">
            <input matInput formControlName="countryCodeAlp2" maxlength="2" />
          </mat-form-field>

          <sit-helper [hint]="'std.c_two_letters' | translate"></sit-helper>
      </div>

      <div class="col-md-0 col-lg-4"></div>
      <div class="col-md-0 col-lg-2"></div>
    </div>

    <!-- ############################### Row 2 ############################### -->
    <div class="row">
      <div class="col-md-0 col-lg-2"></div>
      <!-- ------------------- Country code (alpha-3) ------------------- -->
      <div class="col-md-12 col-lg-4" sit-validate-input="countryCodeAlp3">
        <sit-label require="true">
          <span>{{ "std.c_country_code_alpha_3" | translate }}</span>
        </sit-label>

        <mat-form-field class="w-100" [appearance]="'outline'">
          <input matInput formControlName="countryCodeAlp3" maxlength="3" />
        </mat-form-field>

        <sit-helper [control]="this.form.get('countryCodeAlp3')" [hint]="'std.c_three_letters' | translate"></sit-helper>
      </div>

      <!-- ------------------- Country name ------------------- -->
      <div class="col-md-12 col-lg-4" sit-validate-input="countryName">
        <sit-label require="true">
          <span>{{ "std.c_country_name" | translate }}</span>
        </sit-label>

        <mat-form-field class="w-100" [appearance]="'outline'">
          <input matInput formControlName="countryName" maxlength="100" />
        </mat-form-field>

        <sit-helper [control]="this.form.get('countryName')"></sit-helper>
      </div>

      <div class="col-md-0 col-lg-2"></div>
    </div>

    <!-- ############################### Row 3 ############################### -->
    <div class="row">
      <div class="col-md-0 col-lg-2"></div>
      <!-- ------------------- Nationality code (alpha-3) ------------------- -->
      <div class="col-md-12 col-lg-4" sit-validate-input="nationalityCode">
        <sit-label require="true">
          <span>{{ "std.c_nationality_code" | translate }}</span>
        </sit-label>

        <mat-form-field class="w-100" [appearance]="'outline'">
          <input matInput formControlName="nationalityCode" maxlength="3" />
        </mat-form-field>

        <sit-helper [control]="this.form.get('nationalityCode')" [hint]="'std.c_three_letters' | translate"></sit-helper>
      </div>

      <!-- ------------------- Nationality name ------------------- -->
      <div class="col-md-12 col-lg-4" sit-validate-input="nationalityName">
        <sit-label require="true">
          <span>{{ "std.c_nationality_name" | translate }}</span>
        </sit-label>

        <mat-form-field class="w-100" [appearance]="'outline'">
          <input matInput formControlName="nationalityName" maxlength="100" />
        </mat-form-field>

        <sit-helper [control]="this.form.get('nationalityName')"></sit-helper>
      </div>
      <div class="col-md-0 col-lg-2"></div>
    </div>

    <!-- ############################### Row 4 ############################### -->
    <div class="row">
      <div class="col-md-0 col-lg-2"></div>
      <!-- ------------------- Continent name (english) ------------------- -->
      <div class="col-md-12 col-lg-4" sit-validate-input="continentName">
        <sit-label require="true">
          <span>{{ "std.c_continent_name_en" | translate }}</span>
        </sit-label>

        <div style="display: flex; align-items: center;">
          <sit-autocomplete
            class="w-100"
            type = 'A'
            [controlValue]="this.form.get('continentName')"
            [controlKey]="this.form.get('continentCode')"
            [listResult]="this.continentList"
            [valueChange]="continentNameAutocomplete$"
            (selectValue)="selectValue($event)" >
          </sit-autocomplete>
        </div>

        <sit-helper [control]="this.form.get('continentName')" [hint]="'std.c_airport_status_tooltip' | translate"></sit-helper>
      </div>

      <!-- ------------------- Active ------------------- -->
      <div class="col-md-12 col-lg-4" sit-validate-input="activeStatus">
        <sit-label>
          <span>&nbsp;</span>
        </sit-label>
        <mat-checkbox [checked]="this.form.get('activeStatus').value" formControlName="activeStatus">{{"active" | translate}}</mat-checkbox>
        <sit-helper></sit-helper>
      </div>
      <div class="col-md-0 col-lg-2"></div>
    </div>

  </div>

  <!-- Button -->
  <div class="row">
    <app-sit-button
      [permission]="this.permission"
      [page]="'A'"
      (btnSave)="save()"
      (btnCancel)="cancel()">
    </app-sit-button>
  </div>
</mat-card>
