<div style="width: 60%; margin: auto; margin-top: 10%;">
    <h2 style="color: #626567;">Page not found</h2>
    <h3 style="color: #a6acaf;">The page you requested was not found. If you type the URL directly please make sure the spelling is correct. If you clicked on a link to get here, the link is outdated.</h3>
    <button
        color="primary"
        type="button"
        mat-raised-button
        class="col-12 col-md-3 mb-3"
        (click)="gotoLogin()"
    >
        Go back to login
    </button>
</div>