@mixin setColorTransition($deley) {
  -webkit-transition: color $deley ease-out;
  -ms-transition: color $deley ease-out;
  transition: color $deley ease-out;
}

.invalid-list {
  .mat-icon{
    color: #f44336;
    margin-right: 5px;
    @include setColorTransition(150ms);
  }
  span{
    color: #f44336;
    @include setColorTransition(150ms);
  }
}
.valid-list {
  .mat-icon{
    color: rgb(0 195 59);
    margin-right: 5px;
    @include setColorTransition(150ms);
  }
  span{
    color: rgb(0 195 59);
    @include setColorTransition(150ms);
  }
}

.mat-icon{
  font-size: 20px;
  width: 20px;
  height: 20px;
}

.container-item{
  display: flex;
  // margin: 5px 0;
  &:first-child{
    margin-top: 5px;
  }
  span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
  }
}


