<mat-card [formGroup]="this.form" style="height: 100%;align-items:center;justify-content: center;">
    <mat-card class="input-card row col-md-6">
        <mat-card-header class="mb-3">
            <mat-card-title class="mb-3">Forgot password</mat-card-title>
        </mat-card-header>
        <div class="w-100 row mb-3"  sit-validate-input="email">
            <div class="col-0 col-xl-3"></div>
            <div class="col-12 col-xl-6">
                <sit-label require="true">
                    <span>Please enter your email.</span>
                </sit-label>
                <div class=" mb-3">
                    <mat-form-field class="w-100" appearance="outline">
                        <input type="text" matInput formControlName="email" maxlength="100"/>
                    </mat-form-field>
                    <sit-helper [control]="this.form.get('email')"></sit-helper>
                </div>
                <button
                    color="primary"
                    type="button"
                    mat-raised-button
                    class="col-12 mb-3"
                    (click)="send()"
                >
                    Reset password
                </button>
            </div>
        </div>
    </mat-card>
</mat-card>