<mat-card>
<app-inter-flight-search-criteria 
[form]="this.form"
[initialData]="this.initialData"> 
</app-inter-flight-search-criteria>
<app-sit-button
[page]="'S'"
[permission]="this.initialData?.permission"
(btnSearch)="search()"
(btnClear)="clear()">
</app-sit-button>
</mat-card>
<app-inter-flight-search-table
(export)="export()"
(pageEvent)="pageEvent($event)"
(sortChange)="sortChange($event)"
[dataSource$]="this.dataSource$"
[selection]="selection"
[permission]="this.initialData.permission"
[headerSorts]="this.form.get('headerSorts').value"
[pageIndex]="this.form.get('pageIndex').value"
[linePerPage]="this.criteria?.linePerPage">
</app-inter-flight-search-table>


