<div class="mt-3 row" id="app-sit-button">
  <div class="col alone-btn button-icon-action">
    <ng-content select="button"></ng-content>
    <ng-content select="div"></ng-content>
  </div>
  <div class="col d-flex justify-content-end">
    <ng-container [ngSwitch]="this.page">
      <ng-container *ngSwitchCase="'S'">
        <ng-container *ngTemplateOutlet="search"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'A'">
        <ng-container *ngTemplateOutlet="add"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'E'">
        <ng-container *ngTemplateOutlet="edit"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'V'">
        <ng-container *ngTemplateOutlet="view"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'EX'">
        <ng-container *ngTemplateOutlet="export"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'U'">
        <ng-container *ngTemplateOutlet="upload"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'S-EX'">
        <ng-container *ngTemplateOutlet="searchExport"></ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #search>
  <button type="button" color="primary" mat-raised-button (click)="closeSnackbar();btnSearch.emit()" [disabled]="!permission.search" >{{ "search" | translate }}</button>
  <button type="button" mat-raised-button (click)="closeSnackbar();btnClear.emit()"  class="ms-3">{{ "clear" | translate }}</button>
</ng-template>
<ng-template #add>
  <button type="button" color="primary" mat-raised-button (click)="closeSnackbar();btnSave.emit()"  [disabled]="!permission.add" >{{ "save" | translate }}</button>
  <button type="button" mat-raised-button (click)="closeSnackbar();btnCancel.emit()"  class="ms-3">{{ "cancel" | translate }}</button>
</ng-template>
<ng-template #edit>
  <button type="button" color="primary" mat-raised-button (click)="closeSnackbar();btnEdit.emit()" [disabled]="!permission.edit" >{{ "save" | translate }}</button>
  <button type="button" mat-raised-button (click)="closeSnackbar();btnCancel.emit()"  class="ms-3">{{ "cancel" | translate }}</button>
</ng-template>
<ng-template #view>
  <button type="button" color="primary" mat-raised-button (click)="closeSnackbar();btnClose.emit()" >{{ "close" | translate }}</button>
</ng-template>
<ng-template #export>
  <button type="button" color="primary" mat-raised-button (click)="closeSnackbar();btnExport.emit()"  [disabled]="!permission.export" >{{ "export" | translate }}</button>
  <button type="button" mat-raised-button (click)="closeSnackbar();btnClear.emit()" class="ms-3">{{ "clear" | translate }}</button>
</ng-template>
<ng-template #upload>
  <button type="button" color="primary" mat-raised-button (click)="closeSnackbar();btnSubmit.emit()"  [disabled]="!permission.upload" >{{ "submit" | translate }}</button>
  <button type="button" mat-raised-button (click)="closeSnackbar();btnClear.emit()"  class="ms-3">{{ "clear" | translate }}</button>
</ng-template>
<ng-template #searchExport>
  <button type="button" color="primary" mat-raised-button (click)="closeSnackbar();btnSearch.emit()" [disabled]="!permission.search">{{ "search" | translate }}</button>
  <button type="button" color="primary" mat-raised-button (click)="closeSnackbar();btnExport.emit()" [disabled]="!permission.export" class="mx-3">{{ "export" | translate }}</button>
  <button type="button" mat-raised-button (click)="closeSnackbar();btnClear.emit()">{{ "clear" | translate }}</button>
</ng-template>
