.text-complete {
    background: rgba(#2bc253, 0.15);
    color: #007C1B;
  }
.text-incomplete {
    background: rgba(#f66b4e, 0.2);
    color: #ed4407;
  }
  .text-processing {
    background: rgba(#ffff00, 0.2);
    color: #999900;
  }