@import "assets/styles/color/theme-color.scss";
@import "assets/styles/shared/globalstyle.scss";

.sit-input-label {
  text-align: end;
  padding-right: 10px;
  padding-top: 10px;
  margin-bottom: 4px;
  font-size: 16px;
  font-family: $font-family;
  position: relative;
  word-break: break-all;
  text-align: start;
  // color: mat-color($color-primary) !important;
  span {
    // color: mat-color($color-primary) !important;
  }
  // white-space: pre-line;
  em {
    color: red;
    position: relative;
    top: -5px;
    right: 0px;
  }
}

.ellipsis{
  display: block;
  // enable when useing overflow
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: start;
}
