<div mat-dialog-content class="column" [formGroup]="this.form">
  <h2 mat-dialog-title style="text-decoration:underline">{{'ces.add_remark' | translate}}</h2>
  <!-- Update date -->
  <div class="row mt-3">
    <div class="col-2"></div>
    <div class="col-4" sit-validate-input="updateDate">
      <sit-label require="true">
          <span>{{ "update_date" | translate }}</span>
      </sit-label>
      <mat-form-field class="w-100" appearance="outline">
          <input 
              matInput 
              [datePicker]="updateDate"
              [matDatepicker]="updateDate"
              formControlName="updateDate"
          />
          <mat-datepicker-toggle
              matSuffix
              [for]="updateDate"
          >
          </mat-datepicker-toggle>
          <mat-datepicker #updateDate></mat-datepicker>
      </mat-form-field>
      <sit-helper
          [hint]="'dateFormatHint' | translate"
          [control]="this.form.get('updateDate')"
      ></sit-helper>
    </div>
    <div class="col-6"></div>
  </div>

  <!-- Remark -->
  <div class="row mt-3">
    <div class="col-2"></div>
    <div class="col-8" sit-validate-input="remark">
      <sit-label>
          <span>{{ "remark" | translate }}</span>
      </sit-label>
      <mat-form-field
        class="input-text-area w-100"
        appearance="outline"
        floatLabel="always"
      >
        <textarea matInput rows="3" formControlName="remark"></textarea>
      </mat-form-field>
      <sit-helper
          [control]="this.form.get('remark')"
      ></sit-helper>
    </div>
    <div class="col-2"></div>
  </div>

  <!-- Button --> 
  <div class="row mt-3">
    <div class="mt-3 row" id="app-sit-button">
      <div class="col button-icon-action d-flex justify-content-center">
        <button type="button" color="primary" mat-raised-button (click)="save()" class="ms-3">{{ "save" | translate }}</button>
        <button type="button" mat-raised-button (click)="close()" class="ms-3">{{ "close" | translate }}</button>
      </div>
    </div>
  </div>
</div>
  