<mat-card [formGroup]="this.form">
    <div class="row mt-3">
        <div class="col-12 col-md-6 col-lg-3" sit-validate-input="carrierCodeValue">
            <sit-label>
                <span> {{ "ces.carrierCodeIATA" | translate }}</span>
            </sit-label>
            <sit-autocomplete
                type = 'A'
                [controlValue]="this.form.get('carrierCodeValue')"
                [controlKey]="this.form.get('carrierCodeCode')"
                [listResult]="this.carrierCodeList"
                [valueChange]="carrierCodeAutocomplete$"
            >
            </sit-autocomplete>
            <sit-helper
                [control]="this.form.get('carrierCodeValue')"
            ></sit-helper>
        </div>
        <div class="col-12 col-md-6 col-lg-3" sit-validate-input="dcsHost">
            <sit-label>
                <span>{{ "ces.dcsHost" | translate }}</span>
              </sit-label>
              <mat-form-field class="w-100" [appearance]="'outline'">
                <mat-select formControlName="dcsHost" [placeholder]="'all' | translate">
                  <mat-option [value]="">{{ "all" | translate }}</mat-option>
                  <mat-option *ngFor="let item of this.payload.listDSCHost" [value]="item.key">{{item.value}}</mat-option>
                </mat-select>
              </mat-form-field>
            <sit-helper [control]="this.form.get('dcsHost')"></sit-helper>
        </div>
        <div class="col-12 col-md-6 col-lg-3" sit-validate-input="certtificationType">
            <sit-label>
                <span>{{ "ces.certificationType" | translate }}</span>
              </sit-label>
              <mat-form-field class="w-100" [appearance]="'outline'">
                <mat-select formControlName="certtificationType" [placeholder]="'all' | translate">
                  <mat-option [value]="">{{ "all" | translate }}</mat-option>
                  <mat-option *ngFor="let item of this.payload.listCertificationType" [value]="item.key">{{item.value}}</mat-option>
                </mat-select>
              </mat-form-field>
            <sit-helper [control]="this.form.get('certtificationType')"></sit-helper>
        </div>
        <div class="col-12 col-md-6 col-lg-3" sit-validate-input="status">
            <sit-label>
                <span>{{ "status" | translate }}</span>
              </sit-label>
              <mat-form-field class="w-100" [appearance]="'outline'">
                <mat-select formControlName="status" [placeholder]="'all' | translate">
                  <mat-option [value]="">{{ "all" | translate }}</mat-option>
                  <mat-option *ngFor="let item of this.payload.listStatus" [value]="item.key">{{item.value}}</mat-option>
                </mat-select>
              </mat-form-field>
            <sit-helper [control]="this.form.get('status')"></sit-helper>
        </div>
    </div>
    <div class="row mt-3">
        <!-- Record Per Page -->
        <div class="col-md-6 col-lg-3">
            <sit-label>
                <span>{{ "rec_per_page" | translate }}</span>
              </sit-label>
              <mat-form-field class="w-100" [appearance]="'outline'">
                <mat-select formControlName="linePerPage">
                  <mat-option *ngFor="let item of this.payload.linePerPage" [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
        </div>

        <div>
          <!-- Buttons -->
          <app-sit-button
          [page]="'S'"
          [permission]="this.permission"
          (btnSearch)="this.search()"
          (btnClear)="this.clear()"
        >
          <button
            type="button"
            color="primary"
            mat-raised-button
            (click)="gotoAdd()"
            [disabled]="!this.permission.add"
          >
            <mat-icon>add_circle</mat-icon>
            <span>{{ 'add' | translate }}</span>
          </button>
        </app-sit-button>
      </div>
</mat-card>
