<div class="row">
    <div class="d-flex justify-content-between flex-column flex-lg-row">
        <div class="d-flex align-items-center" style="height: 45px;">
            <span class="table_title_search">{{ "sec.tab_user_group" | translate }}</span>
        </div>
    </div>
</div>
<div class="overflow-auto scroll-table" style="min-height: 232px; max-height: 232px;">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z sit-table w-100" style="min-width: 1000px;">

        <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef class="col-no text-center">{{ 'no' | translate }}</th>
            <td mat-cell *matCellDef="let i = index" class="col-no text-center"> {{i+1}} </td>
        </ng-container>

        <!-- checkbox Column -->
        <ng-container matColumnDef="checkbox" *ngIf="!this.view">
            <th mat-header-cell *matHeaderCellDef class="col-checkbox text-center">
            <mat-checkbox
                (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let element;" class="col-checkbox text-center">
            <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? childToggle(element) : null"
                [checked]="selection.isSelected(element)">
            </mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef class="col-active-status text-center">{{ 'sec.activation_status' | translate }}</th>
            <td mat-cell *matCellDef="let element;" class="col-active-status text-center">
              <div [class]="element.active | activeStatusPipe">{{element.active}}</div>
            </td>
        </ng-container>

        <ng-container matColumnDef="groupCode">
            <th mat-header-cell *matHeaderCellDef class="group-code">{{ 'sec.group_code' | translate }}</th>
            <td mat-cell *matCellDef="let element" class="group-code"> {{element.groupCode}} </td>
        </ng-container>

        <ng-container matColumnDef="groupName">
            <th mat-header-cell *matHeaderCellDef class="group-name">{{ 'sec.group_name' | translate }}</th>
            <td mat-cell *matCellDef="let element" class="group-name"> {{element.groupName}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
</div>
<div class="row">
    <div class="d-flex align-items-center" style="height: 45px;">
        <button mat-stroked-button (click)="gotoAdd()" *ngIf="!this.view">
            <mat-icon style="scale: 1.5; color: blue;">add_circle</mat-icon>
            <span>{{ "add" | translate }}</span>
        </button>
        <button mat-stroked-button (click)="deleteRow()" *ngIf="!this.view" class="ms-3">
            <mat-icon style="scale: 1.5; color: red">close</mat-icon>
            <span>{{ "delete" | translate }}</span>
        </button>
    </div>
</div>