@import "../color/theme-color.scss";

// mat-tab-group{
//   font-size: 17px;
//   mat-tab-header{
//     background: aliceblue;
//     .mdc-tab .mat-mdc-tab{
//     }
//     .mat-mdc-tab-list {
//       .mat-mdc-tab-labels > div {
//         border: 1px solid #0000ff47;
//       }
//     }
//   }
//   .mdc-tab--active {
//   //  background-color: mat.define-palette(mat.$indigo-palette) !important;
//   //  background-color: #3f51b5 !important;

//    .mdc-tab__text-label{
//     // color: white!important;
//    }
//   }

//   .mdc-tab__text-label{
//   //  color: white;
//  }

// }

// :host ::ng-deep.mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header .mat-mdc-tab {
//   flex-grow: 0 !important;
// }

.mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header .mat-mdc-tab {
  flex-grow: 0 !important;
}

.mat-mdc-tab-header{
  --mdc-typography-button-letter-spacing: normal;
}

.mat-mdc-tab-body-content {
  overflow: hidden !important;
}

// .mat-mdc-tab-group:has(.mdc-text-field--invalid){
//   .mdc-tab--active{
//     .mdc-tab__text-label{
//       -webkit-transition: color 1100ms linear;
//       -ms-transition: color 1100ms linear;
//       transition: color 1100ms linear;
//       color: $theme-error !important;
//       background-color: $theme-error !important;
//     }
//   }
// }