$ignoreDefaultStyle: ".no-row-hover";
@import "/src/assets/styles/color/theme-color.scss";
@import "assets/styles/shared/globalstyle.scss";

// $mat-checkbox-size: 18px; // ใช้สำหรับกำหนดขนาดของ mat-checkbox
// $mat-icon-size: 24px; // ใช้สำหรับกำหนดขนาดของ mat-icon-button และ mat-icon

table.sit-table {

    border-spacing: 0px;

    // button action
    th,td {
      &.col-checkbox {
        padding: 0px !important;
      }
      &.col-icon:has(.mat-mdc-icon-button){
        padding: 0px !important;
      }
    }

    tr{
      &.mdc-data-table__header-row{
        height: 40px !important;
      }

      &.mdc-data-table__row {
        height: 42px !important;
      }

      // app-inter-bill-generate-view-table
      // .mat-mdc-table-sticky.mat-mdc-table-sticky-border-elem-top{
      //   top: 30px!important;
      //   z-index: 100!important;
      // }
    }
    // .mat-mdc-checkbox {
    //   width: $mat-checkbox-size !important;
    //   height: $mat-checkbox-size !important;
    //   line-height: 0;
    //   .mdc-checkbox {
    //     padding: 0 !important;
    //     .mat-mdc-checkbox-touch-target {
    //       width: $mat-checkbox-size !important;
    //       height: $mat-checkbox-size !important;
    //     }
    //     .mdc-checkbox__native-control {
    //       top: 0 !important;
    //       left: 0 !important;
    //       right: 0 !important;
    //       width: $mat-checkbox-size !important;
    //       height: $mat-checkbox-size !important;
    //     }
    //     .mdc-checkbox__background {
    //       top: 0 !important;
    //       left: 0 !important;
    //       width: $mat-checkbox-size !important;
    //       height: $mat-checkbox-size !important;
    //     }
    //   }
    // }

    // .mat-sort-header-container {
    //     justify-content: center;
    // }
    .disabled-order {
      .mat-sort-header-arrow {
          display: none;
      }
    }
    th.mat-header-cell:first-of-type {
        padding: 0px 0px;
    }
    th {
      font-weight: bold;
      border: 1px solid white;
      border-radius: 5px !important;
      // font-size: 1.05em !important;
      // 27-3-66
      font-size: 16px !important;
      font-family: $font-family;
      background-color:  mat-color($sit-table, 100) !important;
      color: mat-contrast($sit-table,1) !important;
      .mat-checkbox-frame {
          border-color: mat-color($sit-primary,600) !important ;
      }

      &.mat-sort-header{
        cursor: pointer;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
      }
    }
    td {
        font-size: 16px;
        padding: 5px 10px !important;
        vertical-align: top;
        border: 1px solid white;
        overflow: hidden;
        border-radius: 5px;
        // color: mat-color($sit-table, 1) !important;
        // .mat-mdc-icon-button {
        //     height: $mat-icon-size !important;
        //     width: $mat-icon-size !important;
        //     padding: 0 !important;
        //     line-height: 0;
        //     .mat-icon {
        //       width: $mat-icon-size !important;
        //       height: $mat-icon-size !important;
        //       font-size: $mat-icon-size !important;
        //     }
        //     .mat-mdc-button-touch-target {
        //       height: $mat-icon-size !important;
        //       width: $mat-icon-size !important;
        //     }
        // }

        &.col-icon .mat-mdc-icon-button {
          background-color: rgb(250, 250, 250) !important;
          box-shadow: 0px 5px 2px -2px rgba(0, 0, 0, 0.2), 3px 1px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
          // width: 30px;
          // height: 30px;
          // padding: 6px;
          width: 31px;
          height: 31px;
          padding: 3px;
          margin-top: 3px;

          .mat-mdc-button-touch-target{
            width: 0px;
            height: 0px;
          }

          &[disabled]{
            background-color: rgb(221 220 220) !important;
            border: 1px solid rgba(118, 118, 118, 0.3);
          }
        }
    }

    tr:nth-child(even) {
      background-color: mat-contrast($sit-table,2);
    }

    tr:not(#{$ignoreDefaultStyle}) {
        &:hover {
          // background-color:  #cc7a2a14;
          background-color:  #f7ecde;
        }
    }

    th{
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 5px;
      padding-top: 5px;

      em {
        color: red;
        position: relative;
        top: -5px;
        right: 0px;
      }
    }
}

// custom sort
.mat-sort-header-arrow{
    // color: mat-color($color-primary) !important;
    color: #3f51b5 !important;
    scale: 1.2;
}

.sort-custom {

  th.display-sort-asc {
    .mat-sort-header-arrow{
      transform: translateY(0px) !important;
      opacity: 1 !important;
    }

    .mat-sort-header-indicator{
      transform: translateY(0px) !important;
      .mat-sort-header-pointer-left{
        transform: rotate(-45deg) !important;
      }
      .mat-sort-header-pointer-right{
        transform: rotate(45deg) !important;
      }
    }
  }





  th.display-sort-desc .mat-sort-header-arrow{
    // rotate: 180deg !important;
    transform: translateY(0px) !important;
    opacity: 1 !important;

    .mat-sort-header-indicator{
      transform: translateY(10px)!important;
      .mat-sort-header-pointer-left{
        transform: rotate(45deg)!important;
      }
      .mat-sort-header-pointer-right{
        transform: rotate(-45deg)!important;
      }
    }
  }
}

// case allocate space col-arrow
table.sit-table {
  &:not(.sort-custom) {
    th.mat-sort-header {
      &[aria-sort="none"]{
        .mat-sort-header-arrow{
          display: none;
        }
      }
      :not([aria-sort="none"]){
        display: flex;
      }
    }
  }

  &.sort-custom {
    th.mat-sort-header:not(.display-sort-asc):not(.display-sort-desc) {
      &[aria-sort="none"]{
        .mat-sort-header-arrow{
          display: none;
        }
      }
      :not([aria-sort="none"]){
        display: flex;
      }
    }
  }
}

.mat-sort-header-content{
  // color: mat-color($color-primary) !important;
  color: #7389ff !important;
  text-decoration: underline;
  text-align: match-parent !important;
  text-align: -webkit-match-parent !important;
}
