<!-- Criteria -->
<mat-card>
  <!-- Form criteria -->
  <app-prefix-criteria
    (enterSearch)="search()"
    [form]="this.form"
    [initialData]="this.initialData">
  </app-prefix-criteria>

  <!-- Button -->
  <app-sit-button
      [permission]="this.permission"
      [page]="'S'"
      (btnSearch)="search()"
      (btnClear)="clear()">
      <button type="button" color="primary" mat-raised-button (click)="gotoAdd()" [disabled]="!this.permission.add">
        <mat-icon class="button-icon-size">add_circle</mat-icon>
        <span>{{ 'add' | translate }}</span>
      </button>
  </app-sit-button>
</mat-card>

<!-- Table -->
<app-prefix-table
  (export)="export()"
  (active)="active($event)"
  (inactive)="inactive($event)"
  (gotoEdit)="gotoEdit($event)"
  [selection]="selection"
  [permission]="this.permission"

  [dataSource$]="dataSource$"
  [headerSorts]="this.form.get('headerSorts').value"
  [pageIndex]="this.form.get('pageIndex').value"
  [linePerPage]="this.criteria?.linePerPage"

  (sortChange)="sortChange($event)"
  (pageEvent)="pageEvent($event)"
>
</app-prefix-table>
